@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 20px 0;
}

.form-control {
  box-shadow: none;
}

body {
  .wrapper {
    width: 66%;

      header {
        padding: 20px 0;
        .sign-buttons {
          display: inline-block !important;
          vertical-align: bottom !important;

          .sign-in {
            background-color: #44938E;
          }
          .sign-up {
            background-color: #E4B21A;
          }
        }
      }
  }

  .main-background {
    display: block;
    background: url(../images/city-background.png);
    width: 1400px;
    height: 737px;
    padding-top: 12px;
    h1, h2{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: #fff;
    }

    h1{
      font-size: 55px;
      margin-top: 77px;
    }
    h2{
      font-size: 44px;
      margin-bottom: 60px;
    }



    /*      .row {
            padding: 50px 0;
          }*/

  }
}