@import "bootstrap/bootstrap.less";
@import "variables.less";

p {
  margin: 20px 0;
}

.form-control {
  box-shadow: none;
}

body {
  .wrapper {
    width: 66%;

      header {
        padding: 20px 0;
        .sign-buttons {
          display: inline-block !important;
          vertical-align: bottom !important;

          .sign-in {
            background-color: #44938E;
          }
          .sign-up {
            background-color: #E4B21A;
          }
        }
      }
  }

  .main-background {
    display: block;
    background: url(../images/city-background.png);
    width: 1400px;
    height: 737px;
    padding-top: 12px;
    h1, h2{
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: #fff;
    }

    h1{
      font-size: 55px;
      margin-top: 77px;
    }
    h2{
      font-size: 44px;
      margin-bottom: 60px;
    }
  }
  .order-process.order-element{
    padding: 15px;
  }
   .fs{

    background-color: #59C4BC;
    position: relative;
    list-style-type: none; /* drop the bullets */
    padding: 5pt;
    padding-left: 10pt;
    line-height: 20pt;
    height: 88px;
  }
   .fs :after {
/*      background-color: red;
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent;
  
      border-left: 60px solid green;*/

    content: "";
    border-left: 45px solid green; 
    border-top: 45px solid transparent; 
    border-bottom: 45px solid transparent;
    width: 0;
    height: 0;
    position: absolute;
    right: -45px; /* This has to be the same value as 'border-left's width */
    top: 0;
    }
}